body,ul,li,p,img,div,span{
    margin: 0;
    padding: 0;
    font-family:Microsoft YaHei ;
}
ul{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main{
    width: 640px;
    height: 960px;
    position: absolute;
    left:50%;
    top:0;
    margin-left: -320px;
    -webkit-transform-origin: top;
    transform-origin: top;
}


.slide li{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.slide li:nth-child(1){
    background: url(../images/bg5.jpg) no-repeat;
}
.slide li:nth-child(2){
    background: url(../images/bg22.gif);
    background-size: cover;
}
.slide li:nth-child(2) div p{
    line-height: 50px;
}
.slide li:nth-child(3){
    background:url(../images/bg1.jpg) no-repeat;
}
.slide li:nth-child(4){
    background: url(../images/bg1.jpg) no-repeat;
}
.slide li:nth-child(5){
    background: url(../images/bg1.jpg) no-repeat;
}
.slide li:nth-child(6){

    background: url(../images/bg1.jpg) no-repeat;
}
.slide li:nth-child(7){
    background:url(../images/bg6.jpg) no-repeat;
}
.zIndex{
    z-index: 111;
}
.a1{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:18%;
    color: #fff;
    line-height: 26px;
    font-size: 20px;
}
.a1 img{
    position: absolute;
    left: 30%;
    top: -166%;
}


@-webkit-keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
#a1 img{
    -webkit-animation: flip 1.5s linear 1.5s infinite both;
    animation: flip 1.5s linear 1.5s infinite both;
}
#a1 img{
    position: absolute;
    left: 30%;
    top: -166%;
}

.a1 p:nth-child(1){
    -webkit-transform: translate(-500px,400px);
    transform: translate(-500px,400px);
}
.a1 p:nth-child(3){
    -webkit-transform: translate(-600px,400px);
    transform: translate(-600px,400px);
}
.a1 p:nth-child(2){
    -webkit-transform: translate(500px,400px);
    transform: translate(500px,400px);
}
#a1 p:nth-child(1){
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#a1 p:nth-child(3){
    -webkit-transition: 1.5s;
    transition: 1.5s;
}
#a1 p:nth-child(2){
    -webkit-transition: 1s;
    transition: 1s;
}

#a1 p{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    font-size: 30px;
    margin-top: 55px;
    font-family: Microsoft YaHei;

}

.a2{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:15%;
    color: #fff;
    line-height: 26px;
    font-size: 20px;
}
.a2 img{
    width: 208px;
    height: 268px;
    border:10px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    position: absolute;
    left:52%;
    top:-111%;
}
.a2 p:nth-child(1){
    -webkit-transform: translate(-500px,0);
    transform: translate(-500px,0);
}
.a2 p:nth-child(3){
    -webkit-transform: translate(-500px,0);
    transform: translate(-500px,0);
}
.a2 p:nth-child(2){
    -webkit-transform: translate(500px,0);
    transform: translate(500px,0);
}
.a2 p:nth-child(4){
    -webkit-transform: translate(500px,0);
    transform: translate(500px,0);
}
#a2 p{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 30px;
    margin-top: 10px;
    font-family: Microsoft YaHei;

}

@-webkit-keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg) scale(0.2);
        transform: rotate(0deg) scale(0.2);
    }
    100%{
        -webkit-transform:rotate(720deg) scale(1);
        transform:rotate(720deg) scale(1);
    }
}
#a2 img{
    -webkit-animation:rotate 1s ease-in-out ;
    animation:rotate 1s ease-in-out ;
}
@keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg) scale(0.2);
        transform: rotate(0deg) scale(0.2);
    }
    100%{
        -webkit-transform:rotate(720deg) scale(1);
        transform:rotate(720deg) scale(1);
    }
}
#a2 img{
    -webkit-animation:rotate 1s ease-in-out ;
    animation:rotate 1s ease-in-out ;
}
/*工作经历*/
.a3 {
    position: relative;
    margin: 0 10px;
    height: 100%;
}

.a3 div {
    position: absolute;
    top: 2%;
    left: -150%;
    width: 100%;
    height: 22.5%;
    background: #fff;
    opacity: 0.5;
}

#a3 div:nth-child(2) {
    top: 26.5%;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#a3 div:nth-child(3) {
    top: 51%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#a3 div:nth-child(4) {
    top: 75.5%;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#a3 div.move {
    -webkit-animation-name: myMove;
    animation-name: myMove;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;

    /*-webkit-animation: myMove 1s linear; /!*infinite*!/*/
    /*animation: myMove 1s linear;*/

    /*当动画模拟完成后让当前元素的位置停留在最后一帧的位置*/
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes myMove {
    25% {
        left: -75%;
    }
    50%, 100% {
        left: 0;
    }
    75% {
        left: 75%;
    }
}

@keyframes myMove {
    25% {
        left: -75%;
    }
    50%, 100% {
        left: 0;
    }
    75% {
        left: 75%;
    }
}

/*分界�?*/
.a4 p{
    position: absolute;
    width: 90px;
    height: 90px;
    left:50%;
    top:50%;
    margin-top: -45px;
    margin-left: -45px;
    -webkit-transform: rotate(0deg);
}
.a4 p:nth-child(1){
    background: url(../images/c1.png) no-repeat;
}
.a4 p:nth-child(2){
    background: url(../images/c2.png) no-repeat;
}
.a4 p:nth-child(3){
    background: url(../images/c3.png) no-repeat;
}
.a4 p:nth-child(4){
    background: url(../images/c4.png) no-repeat;
}
.a4 p:nth-child(5){
    background: url(../images/c5.png) no-repeat;
}
.a4 p:nth-child(6){
    background: url(../images/c6.png) no-repeat;
}
.a4 p:nth-child(7){
    box-shadow: 1px 1px 10px rgba(255,255,255,0.8);
    color: #fff;
    line-height: 25px;
    border-radius: 5px;
    width: 0;
    height:0;
    position: absolute;
    overflow: hidden;
}
.a4 p:nth-child(8){
    box-shadow: 1px 1px 10px rgba(255,255,255,0.8);
    color: #fff;
    line-height: 25px;
    border-radius: 5px;
    width: 0;
    height:0;
    position: absolute;
    overflow: hidden;
}
.a4 div:nth-child(9){
    position: absolute;
    border:8px solid yellow;
    left: 30%;
    top: 7%;
}
.a4 h1:nth-child(10){
    position: absolute;
    width: 150px;
    height: 150px;
    line-height:150px;
    text-align: center;
    background: #F5BA42;
    border-radius: 10px;
    color: #ffffff;
    display: none;
}
#a4 p:nth-child(1) {
    left: 50%;
    top: 30%;
}
#a4 p:nth-child(2) {
    left: 20%;
    top:40%;
}
#a4 p:nth-child(3){
    left: 80%;
    top: 40%;
}
#a4 p:nth-child(4){
    left: 20%;
    top:60%;
}
#a4 p:nth-child(5){
     left: 80%;
     top: 60%;
 }
#a4 p:nth-child(6){
    left: 50%;
    top: 70%;
}
#a4 p:nth-child(7){
   left:15%;
    top: 70%;
    width: 200px;
    height: 300px;
    font-size: 20px;

}
#a4 p:nth-child(8){
     left:67%;
     top: 70%;
     width: 200px;
     height: 300px;
     font-size: 20px;

 }
#a4 h1:nth-child(10){

    display: block;
    z-index: -5;
    left: 37%;
    bottom: 41%;

}
/**/
@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

#a4 h1:nth-child(10){
    -webkit-animation: swing 1s linear 1.5s infinite both;
    animation: swing 1s linear 1.5s infinite both;
}
/**/
#a4 p{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition:all 1s;
    transition:all 1s;
}
@-webkit-keyframes zoomIn {
    0%{
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
    }
}
@keyframes zoomIn {
    0%{
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
    100%{
        -webkit-transform:scale(1);
        transform:scale(1);
    }
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes move {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#a4 div img{
    -webkit-animation:zoomIn 1s ease-in-out ;
}
/*动画*/
#a4 p:nth-child(1){
    -webkit-animation: move 2s linear 1.2s infinite both;
    animation: move 2s linear 1.2s infinite both;
}
#a4 p:nth-child(2){
    -webkit-animation: move 2s linear 1.2s infinite both;
    animation: move 2s linear 1.2s infinite both;
}
#a4 p:nth-child(3){
    -webkit-animation: move 2s linear 1.2s infinite both;
    animation: move 2s linear 1.2s infinite both;
}
#a4 p:nth-child(4){
    -webkit-animation: move 2s linear 1.2s infinite both;
    animation: move 2s linear 1.2s infinite both;
}
#a4 p:nth-child(5){
    -webkit-animation: move 2s linear 1.2s infinite both;
    animation: move 2s linear 1.2s infinite both;
}
#a4 p:nth-child(6){
    -webkit-animation: move 2s linear 1.2s infinite both;
    animation: move 2s linear 1.2s infinite both;
}




/*分界�?*/


.a5 p{
    box-shadow: 1px 1px 10px rgba(255,255,255,0.8);
    background: #CCCCCC;
    width: 0px;
    height: 0px;
    position: absolute;
    overflow: hidden;

}
.a5 img{
    position: absolute;
    left:30%;
    top: 20%;
}
@-webkit-keyframes slideLeft {
    0%{
        -webkit-transform: translate(-500px ,0);
        transform: translate(-500px ,0);
    }
    100%{
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
}
@keyframes slideLeft {
    0%{
        -webkit-transform: translate(-500px ,0);
        transform: translate(-500px ,0);
    }
    100%{
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
}
#a5 img{
    -webkit-animation:slideLeft 1s ease-in-out ;
    animation:slideLeft 1s ease-in-out ;
}

.a5 p:nth-child(1){
    left: 20%;
    bottom: 15%;
}
.a5 p:nth-child(2){
    left: 40%;
    bottom: 15%;
}
.a5 p:nth-child(3){
    left: 60%;
    bottom: 15%;
}
.a5 p:nth-child(4){
    left: 16%;
    bottom: 15%;
}
.a5 p:nth-child(5){
    left: 16%;
    bottom: 14%;
}

#a5 p{
    width: 100px;
    height: 200px;
}
#a5 p:nth-child(1){
    width: 23px;
    height: 108px;
    -webkit-transition: 1s;
}
#a5 p:nth-child(2){
    width: 23px;
    height: 165px;
    -webkit-transition: 2s;
}
#a5 p:nth-child(3){
    width: 23px;
    height: 120px;
    -webkit-transition: 2.5s;
}
#a5 p:nth-child(4){
    width: 5px;
    height: 260px;
}
#a5 p:nth-child(5){
    width: 400px;
    height: 5px;
}
.a5 span{
    position: absolute;
    font-size: 40px;

    color: white;
    display: inline-block;
    overflow: hidden;

}
.a5 span:nth-child(6){
    -webkit-transform: translate(-500px,0);
    transform: translate(-500px,0);
}
.a5 span:nth-child(7){
    -webkit-transform: translate(-500px,0);
    transform: translate(-500px,0);
}
.a5 span:nth-child(8){
    -webkit-transform: translate(-500px,0);
    transform: translate(-500px,0);
}
.a5 span:nth-child(9){
    -webkit-transform: translate(50px,-800px);
    transform: translate(50px,-800px);
}
.a5 span:nth-child(10){
    -webkit-transform: translate(40px,-800px);
    transform: translate(40px,-800px);
}
#a5 span:nth-child(6){
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: 20%;
    bottom: 8%;
    text-shadow:5px 2px 6px #000
}
#a5 span:nth-child(7){
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: 40%;
    bottom: 8%;
    text-shadow:5px 2px 6px #000
}
#a5 span:nth-child(8){
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: 60%;
    bottom: 8%;
    text-shadow:5px 2px 6px #000
}
#a5 span:nth-child(9){
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 30px;
    left: 5%;
    bottom: 36%;
    text-shadow:5px 2px 6px #000;
}
#a5 span:nth-child(10){
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 30px;
    left: 75%;
    bottom: 8%;
    text-shadow:5px 2px 6px #000;
}
/*分界�?*/
.a6{
    width: 460px;
    height: 245px;
    background: url(../images/jieshao.png) no-repeat center;
    position: absolute;
    left:50%;
    margin-left: -230px;
    bottom:20%;
}
.a6title{
    position: absolute;
    box-shadow: 1px 1px 10px rgba(255,255,255,0.8);
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: 48%;
    left: 3%;
    font-size: 30px;
    color: white;
}
#a6{
    -webkit-transform: rotateY(720deg);
    transform: rotateY(720deg);
    -webkit-transition:1s;
    transition:1s;
}
.a7 p:nth-child(1){
    font-size: 60px;
    color: white;
    left: 30%;
    top: 40%;
    position: absolute;

}
.a7 span:nth-child(2){

    left: 48%;
    bottom: 5%;
    position: absolute;

}
.a7 span:before{
    content: "";
    width: 15px;
    height:15px;
    border-right:4px solid #fff;
    border-top:4px solid #fff;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    left:45%;
    bottom:120% ;
}
.a7 p{
    text-shadow: 0 0 0 rgb(188, 178, 188),
    1px -1px 0 rgb(173, 163, 173),
    2px -2px 0 rgb(157, 147, 157),
    3px -3px 0 rgb(142, 132, 142),
    4px -4px 0 rgb(126, 116, 126),
    5px -5px 0 rgb(111, 101, 111),
    6px -6px 0 rgb(95, 85, 95),
    7px -7px 0 rgb(79, 69, 79),
    8px -8px 7px rgba(0, 0, 0, 0.35),
    8px -8px 1px rgba(0, 0, 0, 0.5),
    0 0 7px rgba(0, 0, 0, 0.2);
}
